@import "tailwindcss";

@font-face {
  font-family: 'Degular';
  src: url('/fonts/Degular-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('/fonts/Degular-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('/fonts/Degular-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Degular';
  src: url('/fonts/Degular-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-degular: 'Degular', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-degular);
}



body {
  background: var(--background);
  color: var(--foreground);
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
